############################################################
### ZBT-WE1626
############################################################

### Целевой производитель/продукт (поддерживается только Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=ZBT
CONFIG_PRODUCT=MT7620

### Целевой идентификатор продукта (выбор платы, максимум 12 символов)
CONFIG_FIRMWARE_PRODUCT_ID="ZBT-WE1626"

############################################################
### Конфигурация ядра Linux
############################################################

### Принудительно установить тактовую частоту процессора MT7620 на 600 МГц (переопределить настройки Uboot)
#CONFIG_FIRMWARE_CPU_600MHZ=y

### Включить спящий режим процессора MT7620 (понижение тактовой частоты до 200 МГц в режиме ожидания)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Выбор драйвера ядра для точки доступа Wi-Fi 2,4 ГГц
### 2,7 = MT7620 v2.7.2.0
### 3,0 = MT7620 v3.0.4.0
CONFIG_FIRMWARE_WIFI2_DRIVER=2,7

### Включить поддержку IPv6
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Включить поддержку USB
CONFIG_FIRMWARE_ENABLE_USB=y

### Включить поддержку файловой системы FAT/FAT32. ~0,1 МБ
#CONFIG_FIRMWARE_ENABLE_FAT=y

### Включить поддержку файловой системы exFAT (а также FAT/FAT32). ~0,12 МБ
#CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Включить поддержку файловой системы EXT2. ~0,1 МБ
#CONFIG_FIRMWARE_ENABLE_EXT2=y

### Включить поддержку файловой системы EXT3. ~0,2 МБ
#CONFIG_FIRMWARE_ENABLE_EXT3=y

### Включить поддержку файловой системы EXT4 (а также EXT3/2). ~0,4 МБ
#CONFIG_FIRMWARE_ENABLE_EXT4=y

### Включить поддержку файловой системы XFS. ~0,6 МБ
#CONFIG_FIRMWARE_ENABLE_XFS=y

### Включить поддержку файловой системы Apple HFS+. ~0,1 МБ
#CONFIG_FIRMWARE_ENABLE_HFS=y

### Включить поддержку FUSE (файловых систем в пользовательском пространстве). ~0,1 МБ
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Включить поддержку файлов/разделов подкачки. ~0,05 МБ
CONFIG_FIRMWARE_ENABLE_SWAP=y

### Включить модули камеры UVC. ~0,2 МБ
CONFIG_FIRMWARE_INCLUDE_UVC=y

### Включить модули USB-HID. ~0,2 МБ
#CONFIG_FIRMWARE_INCLUDE_HID=y

### Включить модули USB-Serial (например, pl2303). ~0,03 МБ
#CONFIG_FIRMWARE_INCLUDE_SERIAL=y

### Включить модули USB-Audio ~0,46 МБ
#CONFIG_FIRMWARE_INCLUDE_AUDIO=y

### Включить модули XFRM (IPsec) и расширение iptables ~ 0,2 МБ
#CONFIG_FIRMWARE_INCLUDE_XFRM=y

### Включить модули планирования сетевого QoS. ~0,2 МБ
#CONFIG_FIRMWARE_INCLUDE_QOS=y

### Включить модуль IMQ для регуляторов (небольшое снижение производительности). ~0,02 МБ
#CONFIG_FIRMWARE_INCLUDE_IMQ=y

### Включить модуль IFB для регуляторов. ~0,03 МБ
#CONFIG_FIRMWARE_INCLUDE_IFB=y

### Включить утилиту IPSet и модули ядра. ~0,4 МБ
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Включить сервер NFSv3. ~0,6 МБ
#CONFIG_FIRMWARE_INCLUDE_NFSD=y

### Включить клиент NFSv3. ~0,5 МБ
#CONFIG_FIRMWARE_INCLUDE_NFSC=y

### Включить клиент CIFS (SMB). ~0,2 МБ
CONFIG_FIRMWARE_INCLUDE_CIFS=y

### Включить механизм переадресации ярлыков
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

### Включить сборку бэкпортированных драйверов для медиаустройств
#CONFIG_FIRMWARE_ENABLE_BACKPORTED=y
### Поместить бэкпортированные драйверы в образ прошивки
### (в противном случае они будут собраны в отдельный архив для размещения в /opt/lib/)
#CONFIG_FIRMWARE_INCLUDE_BACKPORTED=y

############################################################
### Конфигурация пользовательского пространства
############################################################

### Включить международные ресурсы WebUI. Увеличенный размер прошивки
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### Включить драйвер NTFS-3G FUSE (вместо Paragon «ufsd»). ~0,4 МБ
#CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y

### Включить демон принтера LPR. ~0,12 МБ
CONFIG_FIRMWARE_INCLUDE_LPRD=y

### Включить демон принтера USB-over-Ethernet. ~0,05 МБ
#CONFIG_FIRMWARE_INCLUDE_U2EC=y

### Включить утилиту «tcpdump». ~0,6 МБ
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Включить утилиту «socat» ~0,3 МБ
#CONFIG_FIRMWARE_INCLUDE_SOCAT=y

### Включить утилиту «hdparm» (позволяет устанавливать время ожидания отключения жесткого диска и APM). ~0,1 МБ
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### Включить утилиту «parted» (позволяет создавать разделы GPT). ~0,3 МБ
#CONFIG_FIRMWARE_INCLUDE_PARTED=y

### Включить сервер SMB (и WINS). ~1,5 МБ
#CONFIG_FIRMWARE_INCLUDE_SMBD=y

### Включить только сервер WINS. ~0,4 МБ
#CONFIG_FIRMWARE_INCLUDE_WINS=y

### Включить системный журнал для сервера SMB и WINS. ~0,3 МБ
#CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y

### Включить FTP-сервер. ~0,2 МБ
CONFIG_FIRMWARE_INCLUDE_FTPD=y
CONFIG_FIRMWARE_INCLUDE_FTPD_SSL=y

### Включить поддержку аутентификации EAP-TTLS и EAP-PEAP. openssl ~1,2 МБ, wpa_supplicant +0,04 МБ
### Включить поддержку HTTPS для клиента DDNS. openssl ~1,2 МБ
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### Включить поддержку HTTPS. openssl ~1,2 МБ
CONFIG_FIRMWARE_INCLUDE_HTTPS=y

### Включить sftp-сервер. openssl ~1,2 МБ, sftp-сервер ~0,06 МБ
### Включить dropbear SSH. ~0,3 МБ
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y

### Ускорить симметричные шифры и хэши dropbear. ~0,06 МБ
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Включить OpenSSH вместо dropbear. openssl ~1,2 МБ, openssh ~1,0 МБ
#CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Включить OpenVPN. Требуется IPv6. openssl ~1,2 МБ, openvpn ~0,4 МБ
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Включить StrongSwan. Модули XFRM ~0,2 МБ, strongswan ~0,7 МБ
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y

### Включить модуль Wireguard VPN и утилиту
#CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Включить эллиптические кривые (EC) в библиотеку openssl. ~0,1 МБ
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Включить исполняемый файл «openssl» для создания сертификатов. ~0,4 МБ
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### Включить медиасервер xUPNPd IPTV. ~0,3 МБ
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Включить медиасервер Minidlna UPnP. ~1,6 МБ
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=y

### Включить торрент-клиент Transmission. openssl ~1,2 МБ, transmission ~1,5 МБ
#CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=y

### Включить веб-интерфейс управления Transmission (расширенный веб-интерфейс). ~0,8 МБ
#CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=y

### Включить менеджер загрузок Aria2. openssl ~1,2 МБ, aria2 ~3,5 МБ
#CONFIG_FIRMWARE_INCLUDE_ARIA=y

### Включить веб-управление Aria2. ~0,7 МБ
#CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y

### Включить прокси-сервер TOR ~2,8 МБ
#CONFIG_FIRMWARE_INCLUDE_TOR=y

### Включить информацию из базы данных GeoIP для прокси-сервера TOR ~0,7 МБ
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y

### Включить информацию из базы данных IPv6 GeoIP для прокси-сервера TOR ~0,6 МБ
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIPV6=y

### Включить прокси-сервер Privoxy ~0,3 МБ
#CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y

### Включить прокси-сервер DNSCrypt ~0,5 МБ
#CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y

### Включить Stubby DNS-over-TLS (DoT) ~0,5 МБ
#CONFIG_FIRMWARE_INCLUDE_STUBBY=y

### Включить doh_proxy DNS-over-HTTPS (DoH) ~0,4 МБ
#CONFIG_FIRMWARE_INCLUDE_DOH=y

### Включить поддержку WPAD
#CONFIG_FIRMWARE_INCLUDE_WPAD=y

### Включить поддержку сжатой памяти
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Добавить пакет adb
#CONFIG_FIRMWARE_INCLUDE_ADB=y

### Включить поддержку LUA ~0,2 МБ
#CONFIG_FIRMWARE_INCLUDE_LUA=y

### Включить туннели EoIP Ethernet по IP ~0,01 МБ
#CONFIG_FIRMWARE_INCLUDE_EOIP=y

### Включить поддержку Curl ~0,15 МБ
#CONFIG_FIRMWARE_INCLUDE_CURL=y

### Включить поддержку активации KMS ~0,06 МБ
#CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

### Включить поддержку iPerf3 ~0,13 МБ
#CONFIG_FIRMWARE_INCLUDE_IPERF3=y

### Включить поддержку NFQWS ~0,1 МБ
CONFIG_FIRMWARE_INCLUDE_NFQWS=y
